<!DOCTYPE html>
<head>
  <title>upload deck</title>
  
  <link rel=stylesheet href="{{ url_for('static', filename='main.css')}}">
</head>
<body>
    <nav>
         <ul>
            <li><a href="/">home</a></li>
            <li><a href="/newdeckrender">create deck</a></li>
            <li><a href="/list">search decks</a></li>
            <li><a href="/upload_deck">upload deck</a></li>
         </ul>
    </nav>

    <h1>Upload a JSON file</h1>
    
    <form id="uploadform" method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
</body>

